*{
    box-sizing: border-box;
}
.heading{
    height: 7rem;
    width: 100%;
    background-color: lightslategray;
    position: relative;
}
h1{
    color: red;
    top: 400px;
    left: 300px;
}
body{
    background-color: rgb(248, 250, 252);
}